.footer {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  color: #777;
  padding: 10px 15px;
  height: 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;

  > * {
    z-index: 10;
  }

  .filter {
    display: flex;
    align-items: center;
    button {
      color: inherit;
      margin: 3px;
      padding: 3px 7px;
      text-decoration: none;
      border: 1px solid transparent;
      border-radius: 3px;
      background: transparent;
      cursor: pointer;
      &:hover {
        border-color: rgba(175, 47, 47, 0.2);
      }
    }
    .selected {
      border-color: rgba(175, 47, 47, 0.2);
    }
  }

  .clear {
    cursor: pointer;
    line-height: 20px;
    color: inherit;
    background: transparent;
    border: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .not-active {
    opacity: 0;
    z-index: -1;
  }

  &:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
  }
}
