.todo-item {
  display: flex;
  width: 100%;
  position: relative;
  font-size: 24px;

  .edit-todo-item {
    .edit-input {
      display: block;
      position: relative;
      width: 506px;
      font-size: 24px;
      padding: 12px 16px;
      margin: 0 0 0 43px;
      box-sizing: border-box;
      font-family: inherit;
      font-weight: inherit;
      line-height: 1.4em;
      color: inherit;
      border: 1px solid #999;
      box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
      -webkit-font-smoothing: antialiased;
      &:focus {
        outline: none;
      }
    }
  }


  .todo-item-value {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ededed;

    .checkbox {
      text-align: center;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      opacity: 0;
    }

    label {
      word-break: break-all;
      padding: 15px 15px 15px 60px;
      display: block;
      line-height: 1.2;
      transition: color 0.4s;
      background-repeat: no-repeat;
      background-position: center left;
      width: 100%;
      text-align: start;
    }

    .striked {
      color: #d9d9d9;
      text-decoration: line-through;
    }

    .delete-item {
      background: transparent;
      color: rgba(175, 47, 47, 0.55);
      border: none;
      font-size: 20px;
      margin-right: 10px;
      display: none;
      cursor: pointer;
    }
    &:hover {
      .delete-item {
        display: block;
      }
    }
  }
}
