.title {
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  margin: 20px auto;
}

.list-section {
  background: #fff;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 550px;
  margin: auto;
  .todo-input {
    input {
      padding: 16px 16px 16px 60px;
      border: none;
      background: rgba(0, 0, 0, 0.003);
      position: relative;
      margin: 0;
      width: 100%;
      font-size: 24px;
      font-family: inherit;
      font-weight: inherit;
      line-height: 1.4em;
      border: 0;
      color: inherit;
      box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      &:focus {
        outline: none;
      }
    }
  }

  .toggle-all {
    width: 60px;
    height: 34px;
    font-size: 0;
    position: absolute;
    top: 14px;
    left: -9px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    cursor: pointer;
    &:before {
      content: "❯";
      font-size: 22px;
      color: #e6e6e6;
      padding: 10px 27px 10px 27px;
    }
  }
  .checked {
    &:before {
      color: #737373;
    }
  }

  .todo-list-items {
    margin: auto;
    width: 100%;
  }
}
